<main class="px-16 min-h-dvh">
    <div class="text-green-primary max-w-[1440px] min-h-dvh m-auto">
        <header class="w-full m-auto py-10">
            <img src="img/Capa_2 (1).svg" alt="logo" />
        </header>

        <a class="flex gap-2.5 mb-16" routerLink="/recipe-results">
            <img src="img/Arrow 11.svg" alt="arrow back">
            Recipe Results
        </a>

        <div>
            <h1 class="text-6xl font-bold">Cookbook</h1>
            <p class="mb-4 text-2xl">From quick bites to gourmet delights, explore them all in our ultimate cookbook and
                get
                inspired for your
                next culinary
                adventure.</p>
        </div>

        <div class="grid grid-cols-3 gap-x-[60px] gap-y-14">
            @for (cuisine of state.preferences.cuisine; track $index) {
            <figure>
                <figcaption class="text-3xl font-semibold">{{cuisine.name}} {{cuisine.emoji}}</figcaption>
                <img [src]="cuisine.img" alt="cuisine">
            </figure>
            }
        </div>
    </div>
</main>
