<main class="px-16 min-h-dvh">
    <div class="text-green-primary max-w-[1440px] min-h-dvh m-auto">
        <header class="w-full m-auto py-10">
            <img src="img/Capa_2 (1).svg" alt="logo" />
        </header>

        <a class="flex gap-2.5 mb-16" routerLink="/recipe-results">
            <img src="img/Arrow 11.svg" alt="arrow back">
            Recipe Results
        </a>

        <div class="bg-green-opaque py-10 px-6 flex">
            <div class="w-1/3">
                <h1 class="text-6xl font-bold">Cookbook</h1>
                <p class="mb-4 text-2xl">From quick bites to gourmet delights, explore them all in our ultimate cookbook
                    and
                    get
                    inspired for your
                    next culinary
                    adventure.</p>
            </div>

            <div>
                <h3 class="font-semibold text-2xl">Most liked recipes <img src="img/favorite.svg" alt="Heart"></h3>
                <div class="flex gap-6">
                    @for (recipe of state.allRecipes.slice(0, 3); track $index) {
                    <a routerLink="/" class="bg-grey-opaque py-4 px-3">
                        <div>
                            <p>
                                <img src="img/Frame 750.svg" alt="clock">
                                Cooking time: {{recipe.cookingTime}}
                            </p>

                            <h5>{{recipe.title}}</h5>
                        </div>

                        <span>
                            <img src="img/favorite.svg" alt="heart">
                            66
                        </span>
                    </a>
                    }
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-x-[60px] gap-y-14">
            @for (cuisine of state.preferences.cuisine; track $index) {
            <figure>
                <figcaption class="text-3xl font-semibold">{{cuisine.name}} {{cuisine.emoji}}</figcaption>
                <img [src]="cuisine.img" alt="cuisine">
            </figure>
            }
        </div>
    </div>
</main>
