@if (isLoading) {
<app-loading-screen class="fixed w-full"></app-loading-screen>
}

<main class="px-16 min-h-dvh">
  <div class="text-green-primary max-w-[1440px] min-h-dvh m-auto">
    <header class="w-full m-auto py-10">
      <img src="img/Capa_2 (1).svg" alt="logo" />
    </header>

    <a [routerLink]="['/generate-recipe/']">
      <img class="inline" src="img/Arrow 11.svg" alt="Arrow back">
      Ingredients
    </a>

    <div class="flex flex-col items-center text-green-primary gap-8 mt-16 w-full">
      <h1 class="text-3xl font-semibold">Choose your preferences</h1>

      <div class="flex gap-32 my-6">
        <div>
          <h3>How many portions you need?</h3>
          <p class="flex gap-2 mt-5 items-center">
            <img class="cursor-pointer" (click)="decreaseAmount('portionsAmount')" src="img/Minus.svg" alt="minus">
            <span
              class="bg-green-light px-1 text-green-primary">{{generateRecipeService.recipeRequirements.portionsAmount}}</span>
            Portions
            <img class="cursor-pointer" (click)="increaseAmount('portionsAmount')" src="img/Plus.svg" alt="plus">
          </p>
        </div>
        <div>
          <h3>How many are cooking?</h3>
          <p class="flex gap-2 mt-5 items-center">
            <img class="cursor-pointer" (click)="decreaseAmount('cooksAmount')" src="img/Minus.svg" alt="minus">
            <span
              class="bg-green-light px-1 text-green-primary">{{generateRecipeService.recipeRequirements.cooksAmount}}</span>
            Person
            <img class="cursor-pointer" (click)="increaseAmount('cooksAmount')" src="img/Plus.svg" alt="plus">
          </p>
        </div>
      </div>

      <div class="bg-green-light py-8 px-6 text-green-primary flex flex-col gap-10 rounded-3xl">
        <div>
          <div class="flex">
            <img class="mr-0.5" src="img/Frame 750.svg" alt="time">
            <h3 class="text-2xl font-semibold">Cooking time: </h3>
          </div>
          <div class="flex gap-5 mt-6">
            @for (time of preferences.times; track $index) {
            <button
              [ngClass]="generateRecipeService.recipeRequirements.cookingTime === time ? 'bg-green-light' : 'bg-cream-light hover:bg-cream-primary'"
              (click)="selectPreference('cookingTime', time)"
              class="cursor-pointer px-3 py-1.5 bg-cream-light rounded-4xl text-green-primary">
              {{time|titlecase}}</button>
            }
          </div>
        </div>
        <div>
          <div class="flex">
            <img class="mr-0.5" src="img/public.svg" alt="time">
            <h3 class=" text-2xl font-semibold">Cuisine: </h3>
          </div>
          <div class="flex gap-5 mt-6">
            @for (cuisine of preferences.cuisine; track $index) {
            <button (click)="selectPreference('cuisine', cuisine)"
              [ngClass]="generateRecipeService.recipeRequirements.cuisine === cuisine ? 'bg-green-light' : 'bg-cream-light hover:bg-cream-primary'"
              class="cursor-pointer px-3 py-1.5 bg-cream-light rounded-4xl text-green-primary">
              {{cuisine | titlecase}}</button>
            }
          </div>
        </div>
        <div>
          <div class="flex">
            <img class="mr-0.5" src="img/fork_spoon.svg" alt="time">
            <h3 class=" text-2xl font-semibold">Diet Preferences: </h3>
          </div>
          <div class="flex gap-5 mt-6">
            @for (diet of preferences.dietPrefences; track $index) {
            <button (click)="selectPreference('dietPreferences', diet)"
              [ngClass]="generateRecipeService.recipeRequirements.dietPreferences === diet ? 'bg-green-light' : 'bg-cream-light hover:bg-cream-primary'"
              class="cursor-pointer px-3 py-1.5 bg-cream-light rounded-4xl text-green-primary">
              {{diet | titlecase}}</button>
            }
          </div>
        </div>
      </div>

      <button (click)="onGenerateRecipe()"
        class="mt-8 bg-green-primary text-white px-6 font-semibold py-4 text-2xl cursor-pointer">Generate
        Recipe</button>
    </div>
  </div>
</main>
