@import "tailwindcss";

/* ubuntu-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

/* ubuntu-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}

/* ubuntu-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

/* ubuntu-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

/* ubuntu-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

/* ubuntu-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}

/* ubuntu-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

/* ubuntu-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

/* quicksand-variable - latin */
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  /* A common range for weight variable fonts */
  src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype-variations');
}

@theme {
  --color-green-primary: #396039;
  --color-green-text: #008000;
  --color-cream-primary: #F5F5DC;
  --color-green-light: rgba(57, 96, 57, 0.30);
  --color-green-dark: #10310B;
  --color-cream-light: #FAF0E6CC;
  --color-cream-border: #FAF0E6;
  --color-cream-background: rgba(250, 240, 230, 0.30);
  --font-sans: 'Quicksand';
  --font-ubuntu: 'Ubuntu';
}
